# Copy to .env only for local development.
# Do not commit real secrets.

AWS_REGION=ap-southeast-1
AWS_PROFILE=nt548-dev
TF_VAR_project_name=nt548-devops
TF_VAR_environment=dev
SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=replace_me
SNYK_TOKEN=replace_me
