# Copy to .env only for local development.
# Do not commit real secrets.

AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
AWS_DEFAULT_REGION=ap-southeast-1

TF_VAR_aws_region=ap-southeast-1
TF_VAR_project=nt548
TF_VAR_environment=dev
TF_VAR_name_prefix=nt548-dev
TF_VAR_allowed_ssh_cidr=replace_me
TF_VAR_key_name=replace_me
TF_VAR_image_id=replace_me
TF_VAR_instance_type=t2.micro

SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=replace_me
SNYK_TOKEN=replace_me
